* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  color: red;
}
.input {
  outline: none;
  width: 25%;
  height: 25px;
  padding: 10px;
}
nav ul li a {
  color: black;
  margin-right: 30px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 40px;
}
.card {
  display: flex;
  width: 30%;
  border: 1px solid;
  border-radius: 10px;
  padding: 50px;
  flex-direction: column;
  gap: 10px;
}
.card a {
  color: teal;
}
.del {
  padding: 10px;
  background-color: rgb(145, 21, 21);
  border: none;
  color: white;
  border-radius: 10px;
  width: 70px;
}
.edit {
  padding: 10px;
  background-color: orange;
  border: none;
  color: white;
  border-radius: 10px;
  width: 70px;
}
